# CODEOWNERS
# 关键文件的默认审核者

# 工作流需经维护者审核
.github/workflows/* @Silentely

# 规则与索引文件
/*.txt @Silentely
/Steven_hosts @Silentely
/Hblock_hosts @Silentely
/checksums.txt @Silentely
/manifest.json @Silentely


