[attr]adb   linguist-detectable linguist-language=Adblock
[attr]hosts linguist-detectable linguist-language=Hosts

# Fix language classification on GitHub.com
/*.txt adb
/*_hosts hosts linguist-generated
/robots.txt -adb
