# Claude Code /Codex Code / OMC / OMCX
.claude/
.codex/
.omc/
.omx/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Logs
*.log
npm-debug.log*

# Env
.env
.env.*
